<main class="contenedor contenedor-formularios">
    <h1><%= nombrePagina %> </h1>
    <form method="post" class="defaultform">
        <legend>¿Eliminar grupo? un grupo eliminado no se puede recuperar</legend>
        <div class="campo enviar">
            <input type="submit" value="Eliminar Grupo" class="btn btn-rosa">
        </div>
    </form>
</main>